@import url("https://fonts.googleapis.com/css?family=Inconsolata|Oswald");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
@import url("https://fonts.googleapis.com/css?family=Raleway");

body {
  font-family: 'Raleway';
  text-transform: uppercase;
  font-weight: normal;
  letter-spacing: 2px;
  width: 100%;
  margin: 0;
  overflow: hidden;
  background-color: #E63946;
}

.landing {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  background-image: url(coffee-background.jpg);
  background-size: cover;
  z-index: 999;
}

#header {
  position: fixed;
  height: 80px;
  width: 100%;
  margin: 0;
  top: 0;
  z-index: 998;
  overflow: hidden;
}

.showH {
  background: #F4FAFF;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: .5s;
}

h1, h2, h3, h4 {
  margin: 0;
  font-weight: normal;
}

/*#dot {
  color: #E63946;
}*/

.job {
  position: absolute;
  right: 0px;
  height: 100%;
  text-align: center;
  width: 16%;
  height: 98%;
  top: 10px;
  color: black;
  transition: 1s;
}
.job h3 {
  padding-top: 20px;
  font-size: 17px;
}

.projects {
  position: relative;
  height: 420vh;
  width: 100%;
  top: 0;
  margin-top: 2%;
  z-index: 99;
}

.seg {
  width: 80%;
  text-align: center;
  margin: 0 auto;
  position: relative;
}

.aboutS {
  height: 78vh;
  width: 68%;
  position: relative;
  opacity: 0;
  margin-bottom: 10%;
  margin-top: 10%;
  background: #E8EEF2;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.projS {
  height: 200vh;
  width: 68%;
  padding-top: 100px;
  background: #E8EEF2;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.hireS {
  height: 70vh;
  width: 68%;
  margin-top: 160px;
  background: #E8EEF2;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.mainP {
  width: 60%;
  color: black;
  margin: 0 auto;
  margin-top: 5%;
  font-size: 20px;
  font-family: 'Raleway';
  text-transform: none;
}

.aboutS p {
  font-size: 25px;
  width: 70%;
  margin-top: 5%;

}

.photoContainer {
  background-image: url("./prof.JPG");
  background-size: cover;
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 0 auto;
  margin-top: 5%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);


}

.contactS {
  position: relative;
  height: 60vh;
  width: 100%;
  padding-top: 100px;
}

.projContainer {
  width: 100%;
  margin-top: 6%;
  height: 80%;
  position: relative;
  text-align: center;
}

.titleP {
  padding: 10px;
  padding-bottom: 10px;
}

#aTitle {
  padding-top: 40px;
}

.hideTitle {
  display: none;
}

.box0 {
  position: relative;
  margin: 0 auto;
  margin-bottom: 5%;
  width: 80%;
  height: 300px;
  border-radius: 1%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.box1 {
  position: relative;
  margin: 0 auto;
  margin-bottom: 5%;
  width: 80%;
  height: 300px;
  border-radius: 1%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.box2 {
  position: relative;
  margin: 0 auto;
  margin-bottom: 5%;
  width: 80%;
  height: 300px;
  border-radius: 1%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.descP {
  padding: 20px;
  padding-top: 0;
  margin: 0 auto;
  margin-top: 30px;
  font-size: 16px;
  width: 80%;
  font-family: 'Raleway';
  text-transform: none;
}

.box3 {
  position: relative;
  margin: 0 auto;
  width: 80%;
  height: 300px;
  border-radius: 1%;
  background: white;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

#pTitle {
}

.coverP {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #E63946;
  opacity: .4;
  top: 0;
  display: none;
}

.secT {
  width: 40%;
  padding-bottom: 10px;
  border-bottom: solid 2px black;
  text-align: center;
  margin: 0 auto;
  position: relative;
  font-size: 50px;
  color: black;
}

.linkP {
  font-size: 200px;
  position: absolute;
  top: 15%;
  display: none;
  color: #E63946;
  left: 95px;
}

.showIt {
  display: block;
}

.skills {
  position: relative;
  height: 100vh;
  background: #5FB49C;
}

.logo {
  position: relative;
  font-size: 25px;
  height: 98%;
  width: 100%;
  color: black;
}

.logoH {
  padding-left: 30px;
  padding-top: 0;
  font-family: 'Oswald';
  width: 100px;
  height: 90%;
}

.logoHL {
  padding-left: 20px;
  padding-top: 0;
  font-family: 'Oswald';
}

.name {
  height: 100vh;
  position: relative;
  float: right;
  padding-top: 0;
  width: 30%;
  background: #E8EEF2;
  text-align: center;
  transition: 1s;
}

#myName {
  color: black;
  text-transform: uppercase;
  font-family: 'Oswald';
  font-size: 55px;
  margin-top: 40%;
  letter-spacing: 6px;
  line-height: 100px;
  position: relative;
  width: 85%;
  border-bottom: solid 2px black;
  padding: 0;
  left: 35px;
  text-align: center;
  top: 90px;
}

#myPort {
  color: #E6EAEF;
  text-transform: uppercase;
  font-family: 'Raleway';
  font-size: 20px;
  letter-spacing: 6px;
  line-height: 100px;
  position: relative;
  width: 85%;
  padding: 0;
  left: 35px;
  text-align: center;
  top: 80px;
}

#myJob {
  font-size: 35px;
}

#job-icon {
  font-size: 17px;
}

.myI {
  font-size: 50px;
}

.myP {
  font-size: 30px;
  margin: 0 auto;
  padding-top: 10px;
}

#headcontainer {
  top: 90px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: relative;
  color: black;
}

.skillType {
  margin-bottom: 80px;
  color: #E63946;
}

.ls {
  margin-top: 130px;
  color: black;
  height: 54%;
}

.symbolsP {
  margin-top: 115px;
  color: black;
  height: 50px;
  width: 50px;
  background: white;
  border-radius: 50%;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.symbolsP:hover {
  background: lightgrey;
  cursor: pointer;
}

.symCover {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  background: #6B818C;
  opacity: .3;
  display: none;
  position: absolute;
}

.myI:hover {
  color: #AA635F;
}

#sqr {
  position: absolute;
  right: -12px;
  top: 15px;
  color: black;
}

#squareL {
  font-size: 45px;
}

.symDesc {
  display: none;
  color: #AA635F;
}

#skillD {
  position: absolute;
  right: 110px;
  font-size: 20px;
  top: 585px;
}

#portD {
  position: absolute;
  right: 70px;
  font-size: 20px;
  top: 527px;
}

.show {
  display: block;
}

.myI:hover .symDesc {
  color: black;
}

#firstN {
  font-size: 145px;
}

.seperator {
  height: 60px;
  position: absolute;
  background: black;
  width: 2px;
  left: 25%;
  margin-top: 28px;
}

.projCont {
  width: 60%;
  height: 90%;
  margin-top: 5%;
  margin-right: 0;
  display: inline-block;
}

.ssdiv {
  width: 35%;
  height: 100%;
  float: right;
  display: inline-block;

}

#pimg {
  background-image: url('./partner.png');
  background-size: cover;
}

#doimg {
  background-image: url('./dono.png');
  background-size: cover;
}

#dimg {
  background-image: url('./dear.png');
  background-size: cover;
}

#wimg {
  background-image: url('./watch.png');
  background-size: cover;
}

.nav {
  height: 90vh;
  position: fixed;
  top: 90px;
  text-align: center;
  right: 10px;
  opacity: 0;
  width: 7%;
  transition: .1s;
}


#preloader {
    position:fixed;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: black; /* change if the mask should have another color then #E6EAEF */
    z-index:9999; /* makes sure it stays on top */
}

#status {
    margin-left: 47%;
    margin-top: 23%;
    position:absolute;
    font-size: 33px;
    color: #E6EAEF;
}

.showA {
  opacity: 1;
  transition: 2s;
}

.logoWr {
  display: inline-block;
}



/*.quotes {
  font-size: 40px;
}*/

.lTitle {
  font-size: 16px;
}

.ic {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  display: inline-block;
  margin: 40px;
  margin-top: 80px;
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
  transition: .4s;
}

.ic:hover  {
  opacity: .5;
  transition: .4s;
}

.githhubI {
  background-image: url('./github.png');
  background-size: cover;
}

.instaI {
  background-image: url('./insta.png');
  background-size: cover;
}

.linkedinI {
  background-image: url('./linked.png');
  background-size: cover;
}

.resumeI {
  background-image: url('./resume.png');
  background-size: cover;
}

footer {
  height: 240px;
  width: 100%;
  background: #495054;
  bottom: 0;
}

.copyr {
  width: 40%;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 40px;
  text-transform: none;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
    color: black;
}

a:hover {
    text-decoration: none;
    color: black;
}

a:active {
    text-decoration: none;
    color: black;
}
